---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contacto - Club Chapinero"
  description="Aquí puedes encontrar la información de contacto del club, incluyendo el número de teléfono y el correo electrónico."
>
  <section class="bo">
    <h2>Contacto</h2>
    <p>
        aqui podemos colocar algunos numeros de contacto y el correo electronico del club, para que la gente pueda contactarnos si tiene alguna duda o pregunta.
    </p>
  </section>
</Layout>
