---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Servicios - Club Chapinero"
  description="Aqui podras encontrar los servicioas que ofrecemos en el Club Chapinero."
>
  <section class="box" >
    <h2>servicios</h2>
    <p>
      Aquí tengo pensado incluir los servicios del club, como el restaurante,
      las reservas para eventos empresariales y los torneos. Cada servicio
      tendrá su propia página dedicada. En el caso del restaurante, se incluirá
      una tarjeta que lleve directamente al menú del club.
    </p>
    <p>
      También se incluirán imágenes de los torneos y del restaurante, así como
      una breve descripción de cada uno de los servicios. La idea es que el
      usuario pueda ver lo que ofrecemos y cómo
   
  </section>
</Layout>
