---
import Layout from "../layouts/Layout.astro";
const baseUrl = Astro.site;
---

<Layout
  title="Torneos"
  description="Torneos de billar en Chapinero"
  url=`${baseUrl}/servicios/torneos`
  image="/servicios/Torneos.png"
>
  <section class="container">
    <h1>Torneos</h1>
    <p>
      ¡Bienvenido a la sección de torneos del Club Billares Chapinero! Aquí
      encontrarás información sobre nuestros próximos torneos, reglas y cómo
      participar.
    </p>
    <p>
      Organizamos torneos semanales todos los martes, donde podrás competir con
      otros jugadores y demostrar tus habilidades. Los torneos son abiertos a
      todos los niveles, desde principiantes hasta expertos.
    <p>
      ¡No te pierdas la oportunidad de demostrar tus habilidades y competir con
      los mejores!
    </p>
    <p>

    </p>
  </section></Layout
>
