<section class="box">
  <h1>Servicios</h1>
  <p>
    En el Club Billares Chapinero ofrecemos una amplia gama de servicios para
    que disfrutes al máximo de tu experiencia con nosotros. Contamos con mesas
    de billar de alta calidad, un bar y restaurante con una deliciosa variedad
    de comidas y bebidas, y la posibilidad de organizar eventos privados y
    empresariales.
  </p>
  <p>
    Además, organizamos torneos semanales donde podrás competir con otros
    jugadores y ganar grandes premios. ¡No te lo pierdas!
  </p>
</section>
