<section class="box">
  <h1>Servicios</h1>
  <p>
    en esta sección podemos hablar sobre los servicios que ofrece el club, como el alquiler de mesas, el servico de restaurante, el bar y eventos empresariales. También podemos mencionar si hay algún tipo de membresía o descuentos para los clientes frecuentes.
  </p>
  
</section>
